<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      
      <div class="footer-col">
        <!-- Name links -->
        <p class="p-name" style="margin:0;">
          {{ site.title | escape }}
        </p>
      </div>

      <div class="footer-col footer-col-3" style="margin-top: 10px;">
        <!-- Position rechts -->
        <p style="margin:0;">
          {{ site.description | escape }}
        </p>
      </div>

    </div>
  </div>
</footer>


